<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="File" fileName="logs/logs.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd ---- HH:mm:ss} ---- %C [%M] ---- %p ---- %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="File" />
		</Root>

	</Loggers>
</Configuration>